@import url(fonts.css);

:root {
    --white: #1c1c1c;
    --lightgray: #2b2b2b;
    --grey: #444444;
    --standart: #5cb85c;
    --ultimate: #d9534f;
    --premium: #008b8b;
    --font-black: #f5f5f5;
    --font-white: #FFFFFF;
    --table-border: #525252;
    --column-border: #767676;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: 0;
}

.toggle {
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    background: linear-gradient(180deg, #9fa1af 0%, #9fa1b3 100%);
    transition: all .2s ease;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgb(231, 231, 231);
    box-shadow: 0 1px 2px rgba(44, 44, 44, .2);
    transition: all .2s cubic-bezier(.5, .1, .75, 1.35);
}

.toggle:checked {
    border-color: #020205;
}

.toggle:checked:after {
    transform: translatex(20px);
}

.pricing-table {

    text-align: center;
    border: 20px solid var(--table-border);
    font-family: 'Arimo';
    font-style: normal;
    table-layout: fixed;
}


td {
    border: 1px solid var(--column-border);
    width: 280px;
}

.pricing-plan {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    vertical-align: middle;
    color: var(--font-black);
}

.pricing-plan>span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--font-black);

}


.plan-standart {
    background-color: var(--standart);
    padding-top: 27px;
    padding-bottom: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--white);
}

.plan-ultimate {
    background-color: var(--ultimate);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--white);
}

.plan-premium {
    background-color: var(--premium);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--white);
}

.pricing {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-black);
    height: 80px;
}

thead {
    background: var(--grey);
}

tfoot {
    background: var(--lightgray);
}

.pricing-setting {
    vertical-align: middle;
    /* padding-top: 30px; */
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--font-black);
}

.pricing-decorate {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    color: var(--font-black);
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translate(30%, 50%);
}



.pricing-decorate::after {
    position: absolute;
    content: ".99";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--font-black);
    top: -50%;
}

.text-wrapper {
    position: absolute;
    bottom: 25%;
}

tbody>tr>td {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-black);
    height: 72px;
    text-transform: uppercase;
    vertical-align: middle;
}

.storage {
    background-color: var(--lightgray);
}


.bandwidth,
.support,
.users {
    background-color: var(--grey);
}

.email,
.products {
    background-color: var(--lightgray);
}


tfoot>tr>td {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-black);
    height: 102px;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn {
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    width: 195px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 17px;
    padding-bottom: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.black {
    background-color: var(--grey);

}

.black::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #404040;
}

.green {
    background-color: var(--standart);
}

.green::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #79b027;
}

.red {
    background-color: var(--ultimate);
}

.red::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #df3a46;
}

.darkgreen {
    background-color: var(--premium);
}

.darkgreen::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    bottom: -4px;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #16736f;
}