.toggle-button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 45px;
  height: 37px;
  background: map-get($colors, blackBackground);
  cursor: pointer;
  border: none;
  padding: 0;
  &--active {
    gap: 0;
    .toggle-button__bar {
      &:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(135deg);
        position: absolute;
      }
    }
  }
  &__bar {
    display: block;
    width: 17px;
    height: 2px;
    background: map-get($colors, whiteBackground);
  }
  @include mq("tablet") {
    display: none;
  }
}
