.instagram {
  margin-bottom: 20px;
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__link {
    display: none;
    text-decoration: none;
    text-transform: uppercase;
    @include font-source-roboto(13px, map-get($colors, fontBlack), 700, 22px);
    @include mq("tablet") {
      display: block;
    }
  }
  &__gallary {
    display: flex;
    justify-content: center;
    @include mq("tablet") {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
  &__item {
    display: none;
    &:nth-child(1) {
      display: block;
    }
    @include mq("tablet") {
      width: 250px;
      height: 250px;
      display: block;
      &:nth-child(4) {
        display: none;
      }
    }
    @include mq("desktop") {
      width: 285px;
      height: 285px;
      &:nth-child(4) {
        display: block;
      }
    }
  }
  &__pic {
    @include mq("tablet") {
      width: 100%;
    }
  }
}
