.post {
  margin-bottom: 75px;
  &__list {
    @include mq("desktop") {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    padding-top: 25px;
    &:nth-child(4) {
      display: none;
    }
    @include mq("tablet") {
      display: flex;
      gap: 20px;
      &:nth-child(4) {
        display: flex;
      }
    }
    @include mq("desktop") {
      max-width: 585px;
      column-gap: 25px;
    }
  }
  &__content {
    @include mq("tablet") {
      width: 385px;
    }
  }
  &__title {
    padding-top: 10px;
    @include font-source-roboto(14px, map-get($colors, fontBlack), 700, 30px);
    &--white {
      color: map-get($colors, fontWhite);
    }
    @include mq("tablet") {
      font-size: 16px;
    }
  }
  &__comments {
    display: flex;
    gap: 20px;
  }
  &__theme {
    position: relative;
    text-decoration: none;
    @include font-source-roboto(11px, map-get($colors, fontGrey), 400, 20px);
    &:first-child::after {
      content: "/";
      position: absolute;
      right: -12px;
    }
  }
  &__comment {
    text-decoration: none;
    @include font-source-roboto(11px, map-get($colors, fontGrey), 400, 20px);
  }
  &__description {
    display: none;
    @include mq("tablet") {
      display: block;
      @include font-source-roboto(14px, map-get($colors, fontDark), 400, 26px);
    }
  }
}
